body{
  background: url("../statiq/statiqbackground2.jpg") no-repeat fixed center;
  background-size: cover;
}
.post-content-section{
/*  background-color: #E8E8E8; */
}
a:link{
  text-decoration: none;
}
#contactus{
  display: none;
}
.paginate{position: relative;}
.pagination>li>a, .pagination>li>span {
  padding: 6px 16px;
  margin-left: 3px;
  margin-right: 3px;
  line-height: 1.42857143;
  color: #000;
  background-color: lightgrey;
  border: 0px;
  font-size: 20px;
}
.pagination>li>a.page-prev, .pagination>li>span.page-prev,.pagination>li>a.page-next, .pagination>li>span.page-next {
  background-color: #1478B8;
  color: #FFF;
}
.pagination>li>a.page-prev, .pagination>li>span.page-prev{
  position: absolute;
  right: 60px;
}
.pagination>li>a.page-next, .pagination>li>span.page-next{
  position: absolute;
  right: 0px;
}
